body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.verification-container {
    text-align: center;
}

.code-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.code {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    font-size: 18px;
    text-align: center;
}

#verification_heading {
    color: #333;
}

#verification_subtext {
    color: #666;
}
